*{
    box-sizing: inherit;
    font-size: 15px;
}

body{
    box-sizing: border-box;
    background-color: #000077;
    color: #f5f6fa;
}
h1{
    font-size: 26px;
}

h2{
    font-size: 22px; 
}

a{
    text-decoration: none;
}

.container{
    position: relative;
    max-width: 678px;
    width: 100%;
    box-sizing: border-box;
}
