.form{
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    @media screen and (min-width:1024px){
        width: 40%;
    }
   

    &__input{
        display: block;
        width: 100%;
        margin-bottom: 0px;
        color: #fff;
        margin-top: 20px;
        padding: 7px 15px;
        background-color: #01509b;
        border: none;
    }
    &__input:hover{
        background-color: $oro;
        color: $dark-blue; 
        font-weight: bold;
    }
    &__input:focus {
        box-shadow: 0 0 5px 
        rgb(251, 255, 0);border:1px solid 
        rgba(251, 255, 0, 0.8) !important;
    }
    
    &__line{
        background-color: #01509b;
        display: block;
        width: 100%;
        height: 1px;
        margin-top: 30px;
        margin-bottom: 10px;  
    }

}
