.btn{
    display: block;
    width: 70%;
    padding: 7px 15px;

    &__form{
        width: 60%;
        color :white;
        text-transform: uppercase;
        font-family: 'Roboto', sans-serif;
        font-weight: 100;
        font-size: 10px;
        background-color: transparent;
        margin-top: 40px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 30px;
    }
}