.btn{
    display: block;
    width: 70%;
    padding: 7px 15px;

    &__form{
        width: 95%;
        padding: 10px 0;
        color :white;
        text-transform: uppercase;
        font-family: 'Roboto', sans-serif;
        font-weight: 100;
        font-size: 10px;
        letter-spacing: 1.5px;
        background-color: transparent;
        margin-top: 40px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 30px;
        @media screen and (min-width:1024px){
            width: 50%;
        }
    }    
    &__form:hover{
        background-color: $oro;
        color: $dark-blue;
        font-weight: bold;
    }
    
}