.header-fixed{
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
    background-color: rgb(28, 127, 145);
    z-index: 49;
}

.header{
    margin-top: 60px;
}


/*Damos estilos al menú*/
.nav {
    position: absolute;
    width: 500px;
    height: 100%;
    top: 0;
    left: -665px;
    padding-top: 100px;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 36px 0px 70px -2px rgb(137, 199, 14);
    transition: all .5s ease;
    z-index: 45; 
 
    &__list{
        margin-top: 130px;
        font-size: 20px;
    }
/*Estilos de los li del menú*/
    &__item {
        display: block;
        width: 75%;
        margin: 0 auto;
        line-height: 2;
        position: relative;
        border-bottom: .5px solid rgb(183, 184, 184);
        background-color: transparent;
        font-family: 'Lato', sans-serif;
        text-shadow: 5px 6px 19px rgb(99, 162, 4);
        color: rgb(252, 252, 252);
    }
/*-------------||||||||---------------*/
/*Estos son los estilos que le dan la funcionalidad al menú*/
/*El checkbox según esté activado o no hará que el menú aparezca o desaparezca*/

    &__checkbox {
        display:none; /*Ocultamos el checkbox pues no nos interesa que se vea*/
    }

    &__checkbox:checked ~ .main {
        filter: blur(6px);
    }

    &__checkbox:checked ~ .nav {
        left:0px; /*Le quitamos el left negativo para que el menú vuelva a su posición original*/
    }
    &__checkbox:checked ~ .main {
        margin-left:0px; /*Cuando el checkbox asigna un margen al contenedor principal para que se desplace junto con el menú*/
    }
    &__checkbox:checked ~ &__button {
        background-color: rgb(137, 199, 14);
        transition: all .5s;
    }

/*-------------||||||||---------------*/
/*-------------||||||||---------------*/

    &__button{
        position: fixed;
        top: 10px;
        left: 20px;
        width: 55px;
        height: 50px;
        border-radius: 7px;
        background-color: rgb(137, 199, 14);
        z-index: 49;
    }

    /*STYLE IC0N-NAV*/
    &__icon {
    position: relative;
    margin-top: 23px;
    margin-left: 10px;
    }
    &__icon, &__icon::before, &__icon::after {              
    width: 35px;
    height: 5px;
    z-index: 49;
    background-color: rgb(255, 255, 255);
    display: inline-block;
    }

    &__icon::before, &__icon::after {
        content: "";
        position: absolute;
        left: 0;
        transition: all .2s; 
    }
    &__icon::before {              
    top: -12px; 
    }
    &__icon::after {              
    top: 12px; 
    }
    &__button:hover &__icon::before {
        top: -12px;
    }
    &__button:hover &__icon::after {
        top: 12px; 
    }
    &__checkbox:checked + &__button &__icon {    
        background-color: transparent; 
    }
    &__checkbox:checked + .nav__button &__icon::before {
        top: 0;
        transform: rotate(135deg); 
    }
    &__checkbox:checked + &__button &__icon::after {              
        top: 0;
        transform: rotate(-135deg); 
    }
} 

.main-item{
    position: relative;
    width: 100px;
}

.return{
    position: fixed;
    top: 10px;
    left: 20px;
    width: 55px;
    height: 50px;
    border-radius: 7px;
    background-color: rgb(137, 199, 14);
    z-index: 49;
}

.left-arrow{
    position: absolute;
    background-color: #fff;
    height: 5px;
    width: 30px;
    top: 22px;
    right: 11px;

    &::before{
        content: '';
        position: absolute;
        background-color: #fff;
        height: 5px;
        width: 20px;
        top: -5px;
        right: 14px;
        -webkit-transform: rotate(-42deg);
        transform: rotate(-42deg);
        transition: .5s;
    }
    &::after{
        content: '';
        display: block;
        position: absolute;
        background-color: #fff;
        height: 5px;
        width: 20px;
        top: 5px;
        right: 14px;
        -webkit-transform: rotate(42deg);
        transform: rotate(42deg);
        transition: .5s;
    }
}