.podiums{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    background-color: $dark-blue;
    text-align: center;
    .podium{
        text-align: center;
        &__position{
      
        }
        &__img{
        
        }
        &__name{

        }
        &__score{
            
        }
    }
}
